<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Honda</string>
		<key>model</key>
		<string>Civic</string>
		<key>lastStarted</key>
		<date>2016-11-08T18:15:24Z</date>
		<key>imageName</key>
		<string>Honda_Civic.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<true/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Mitsubishi </string>
		<key>model</key>
		<string>Eclipse</string>
		<key>lastStarted</key>
		<date>2016-11-07T18:15:24Z</date>
		<key>imageName</key>
		<string>eclipse.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>138</integer>
		</dict>
		<key>mark</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Mark</string>
		<key>lastStarted</key>
		<date>2016-10-12T18:15:24Z</date>
		<key>imageName</key>
		<string>mark.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>19</integer>
			<key>blue</key>
			<integer>94</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Skyline</string>
		<key>lastStarted</key>
		<date>2016-09-12T18:15:24Z</date>
		<key>imageName</key>
		<string>nissan-skylineL.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Masda</string>
		<key>model</key>
		<string>Rx-7</string>
		<key>lastStarted</key>
		<date>2016-10-10T18:15:24Z</date>
		<key>imageName</key>
		<string>mazda-rx-7.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
